@using FSH.Starter.Blazor.Client.Shared
@typeparam TEntity
@typeparam TId
@typeparam TRequest

@inject IJSRuntime JS
<style>
    .mud-table-container {
        overflow: auto;
    }

    .mud-button-filled-size-small.mud-icon-button {
        padding: 2px;
    }

    .mud-table-root .mud-table-head .mud-table-cell {
        color: var(--mud-palette-text-primary);
        font-weight: bold;
        line-height: 1.5rem;
    }

    .mud-expand-panel .mud-expand-panel-header {
        width: 100%;
        align-items: center;
        display: flex;
        font-size: .9375rem;
        line-height: 1;
        min-height: 48px;
        outline: none;
        padding: 5px 24px;
        position: relative;
        transition: min-height .3s cubic-bezier(0.25, 0.8, 0.5, 1);
        user-select: none;
    }
</style>

<ErrorBoundary>
    <ChildContent>

        @if (_canSearch && (Context.AdvancedSearchEnabled || AdvancedSearchContent is not null))
        {
            <MudExpansionPanel @bind-Expanded="_advancedSearchExpanded"
                               Style="margin-bottom:10px!important;border-radius: var(--mud-default-borderradius) !important;"
                               Class="mud-table mud-table-outlined">
                <TitleContent>
                    <div class="d-flex">
                        <MudIcon Icon="@(_advancedSearchExpanded?@Icons.Material.Filled.FilterList:@Icons.Material.Filled.Menu)" class="mr-3"></MudIcon>
                        <MudText>@_localizer["Advanced Search"]</MudText>
                    </div>
                </TitleContent>
                <ChildContent>


                    <MudTextField @bind-Value="SearchString" Immediate="true"
                                  Placeholder="@_localizer["Search for {0}", Context.EntityNamePlural]" Adornment="Adornment.Start"
                                  Variant="Variant.Outlined" Margin="Margin.Dense"
                                  AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"
                                  Style="flex:none!important;margin:0px!important" TextChanged="OnSearchStringChanged">
                    </MudTextField>
                    @* @if (Context.AdvancedSearchEnabled)
                   {
                       <div style="margin-top:10px!important">
                           <MudCheckBox Label="All Columns" T="bool" Checked="Context.AllColumnsChecked"
                               CheckedChanged="Context.AllColumnsCheckChanged"></MudCheckBox>
                           @foreach (var field in Context.Fields)
                           {
                               <MudCheckBox T="bool" @bind-Checked="@field.CheckedForSearch" Label="@(field.DisplayName)"></MudCheckBox>
                           }
                       </div>
                   } *@
                    @AdvancedSearchContent
                </ChildContent>
            </MudExpansionPanel>
        }

        <FshTable @ref="_table" Outlined ServerData="@ServerReloadFunc" Items="@_entityList" Filter="LocalSearch"
                  Loading="@Loading" LoadingProgressColor="@Color.Secondary" ChildRowContent="@ChildRowContent">

            <ToolBarContent>
                <div class="justify-center mud-text-align-center">
                    <MudStack Row>
                        @if (_canCreate)
                        {
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" DropShadow="false"
                                       OnClick="(() => InvokeModal())" StartIcon="@Icons.Material.Filled.Add"
                                       IconColor="Color.Surface" Class="mr-2">@_localizer["Create"]</MudButton>
                        }

                        @if (ExtraTools is not null)
                        {
                            @ExtraTools
                        }
                        <MudButton Variant="Variant.Filled" OnClick="ReloadDataAsync" DropShadow="false"
                                   StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Secondary">@_localizer["Reload"]</MudButton>

                    </MudStack>
                </div>
                <MudSpacer />
                @if (_canSearch && !_advancedSearchExpanded)
                {
                    <div>
                        <div aria-hidden="true" class="flex-grow-1"></div>
                        <MudTextField @bind-Value="SearchString" Immediate="true" FullWidth="false" Margin="Margin.Dense"
                                      Placeholder="@_localizer["SearchFor"]" Adornment="Adornment.End" Variant="Variant.Outlined"
                                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-4 mb-3 ms-2 flex-grow-0;"
                                      TextChanged="OnSearchStringChanged">
                        </MudTextField>
                    </div>
                }
            </ToolBarContent>

            <HeaderContent>
                @if (Context.Fields is not null)
                {
                    foreach (var field in Context.Fields)
                    {
                        <MudTh>
                            @if (Context.IsClientContext)
                            {
                                <MudTableSortLabel SortBy="@field.ValueFunc">@field.DisplayName</MudTableSortLabel>
                            }
                            else
                            {
                                <MudTableSortLabel T="TEntity" SortLabel="@field.SortLabel">@field.DisplayName</MudTableSortLabel>
                            }
                        </MudTh>
                    }
                }
                <MudTh Style="text-align:right">@_localizer["Actions"]</MudTh>
            </HeaderContent>

            <RowTemplate>
                @foreach (var field in Context.Fields)
                {
                    <MudTd DataLabel="@field.DisplayName">
                        @if (field.Template is not null)
                        {
                            @field.Template(context)
                        }
                        else if (field.Type == typeof(bool))
                        {
                            <MudCheckBox T="bool" Value="GetBooleanValue(field.ValueFunc(context))" ReadOnly Color="Color.Secondary"></MudCheckBox>
                        }
                        else
                        {
                            <MudHighlighter Text="@field.ValueFunc(context)?.ToString()" HighlightedText="@SearchString" />
                        }
                    </MudTd>
                }

                <MudTd DataLabel="@_localizer["Actions"]" Style="text-align: right">
                    @if (ActionsContent is not null)
                    {
                        @ActionsContent(context)
                    }
                    else if (HasActions)
                    {
                        <MudMenu Icon="@Icons.Material.Filled.MoreVert" Variant="Variant.Text" DropShadow="true"
                                 IconColor="Color.Secondary" Size="Size.Small" Direction="Direction.Left" OffsetX="true">
                            @if (CanUpdateEntity(context))
                            {
                                <MudMenuItem @onclick="@(() => InvokeModal(context))">@_localizer["Edit"]</MudMenuItem>
                            }
                            @if (CanDeleteEntity(context))
                            {
                                <MudMenuItem Style="color:red!important" @onclick="@(() => Delete(context))">@_localizer["Delete"]</MudMenuItem>
                            }
                            @if (ExtraActions is not null)
                            {
                                @ExtraActions(context)
                            }
                        </MudMenu>
                    }
                    else
                    {
                        <MudButton Variant="Variant.Filled" DropShadow="false"
                                   StartIcon="@Icons.Material.Filled.DoNotTouch" IconColor="Color.Secondary" Size="Size.Small"
                                   Color="Color.Surface">
                            @_localizer["No Allowed Actions"]
                        </MudButton>
                    }
                </MudTd>
            </RowTemplate>

            <PagerContent>
                <TablePager />
            </PagerContent>

        </FshTable>

    </ChildContent>
    <ErrorContent>
        <FshCustomError />
    </ErrorContent>
</ErrorBoundary>